/* - - - - - - - - - - - - - - - - - - - - -

 Title : Navocraft
 Author : Frank
 URL : http://navocraft.com

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

/*color*/
label.desc, legend.desc{ 
	color: #747474 !important;
	font-size: 16px !important ;
	font-family: 'PT Sans', Arial, Helvetica, sans-serif !important;
}
/*input*/
input[type='text'],input[type='email'],textarea{
	border-radius: 3px !important;
	border: 1px solid #999;
	padding: 4px 10px 4px 10px !important;
	font-size: 14px !important;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
input[type='text']:focus,input[type='email']:focus,textarea:focus{ 
	box-shadow: 0 0 5px #2385B9 !important;
}
input[type='submit']{ 
	border-radius: 3px !important;
	color: #fff !important;
	background-color: #4CBB56 !important;
	border: 1px solid #4CBB56 !important;
	padding: 5px 10px 5px 10px ;
	font-size: 16px !important;
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
input[type='submit']:hover{ 
	background-color: #009E0F !important;
	border: 1px solid #009E0F !important;
}
/*hidden link*/
